.modalOverlay{
    z-index:99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
}

.modalContainer {
    font-family: var(--items-font);
    display:inherit;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:max-content;
    min-height: 340px;
    height:max-content;
    background-color: #4c4c4c;
    position:relative;
    padding:20px 0;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.close-button{
    position: absolute;
    right:20px;
    top:5px;
    font-size:2em;
    color:white;
    font-weight: 600;
}

.close-button:hover{
    cursor: pointer;
}