.cardContainer{
  margin-top:50px;
  padding:0px 70px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
}

@media screen and (max-width:1150px) {
  .cardContainer{
    margin-top:0px;
  }  
}